<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test task</title>
    <link rel="stylesheet" href="app/css/style.css" />
</head>
<body>
	<div id="app">
		<ul id="card-list"></ul>
	</div>
    <script type="text/template" id="item-template">
        <li class="card <%= type %>" style="z-index: <%= number %>;">
            <svg height="110" width="110">
                <text text-anchor="middle" x="54" y="72"><%= number %></text>
                <ellipse cx="55" cy="55" rx="50" ry="50"></ellipse> 
            </svg>
        </li>
    </script>
    <script src="data/narrow-wide-narrow.js"></script>
	<script src="dist/lib-build.js"></script>
</body>
</html>
