html, body, #app, #card-list, .card{
	min-height: 120px;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	height: ~"calc(100% - 40px)";
	padding: 20px 30px;
	background-color: #f6f2de;
	user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;

	#app {
		width: 100%;

		#card-list{
			width: 100%;
			-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
			box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
			min-width: 400px;
    		max-width: 1020px;

			.card {
				height: ~"calc(100% - 40px)";
				display: flex;
				text-align: center;
				position: absolute;
			    background-color: white;
			    width: 400px;

			    svg {
			    	margin: auto;

			    	text{
			    		font-family: Arial;
					    font-weight: 600;
					    font-size: 48px;
			    	}

			    	ellipse{
			    		fill:none;
			    		stroke:black;
			    		stroke-width:4
			    	}
				}

				&:last-child{
					left: 90px;
					-webkit-box-shadow: -2px 0 5px -2px rgba(0, 0, 0, 0.2);
	    			box-shadow: -2px 0 5px -2px rgba(0, 0, 0, 0.2);

					&.wide{
						width: ~"calc(100% - 120px)";
						max-width: 960px;
						min-width: 400px;
					}
				}

				&:first-child{
					-webkit-box-shadow: none;
					box-shadow: none;
					left: 30px;
				}
			}
		}
	}
}
